	#container{
	max-width: 100vw; 
	max-height: 100vh; 
	overflow: hidden; 
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 0;
	}

	#counter{
		font-family: Aktiv Grotesk Light Italic; 
		color: white; 
		font-size: 20px; 
		z-index:5000;
		position: fixed;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	#nav{
		position: fixed;
		top: 90px;
		left: 35px;
		z-index: 2000;
		transition: all .25s;
	}

	.bar{
	width: 30px;
	height: 20px;
	margin: 0;
	margin-bottom: -17.5px;
	background-color: black;
	position: relative;
	transition: all .25s;
	top: 0;
	}

	.bar a{
		font-family: Aktiv Grotesk Medium;
		font-size: 12px;
		line-height: 1;
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		display: none;
		position: relative;
		cursor: pointer;
		color: #ecebeb;
	}

	.bar a:hover{
		color: white;
		font-family: Aktiv Grotesk Medium Italic;
	}

	.flag{
		font-family: Aktiv Grotesk Black;
		font-size: 40px;
		position: fixed;
		top: 25px;
		left: 30px;
		z-index: 2000;
		transition: all .25s;
	}

	.hide{
		height: 100vh;
		width: 100vw;
		position: absolute;
		background-color: white;
	}

	.content{
		width: 100vw;
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity .5s;
	}

	.item{
		margin: 0;
		margin-bottom: 20px;
		overflow: hidden;
		max-height: 100vh;
		max-width: 100vw;
	}

	.item img{
		width: 120vw;
	}

	.description{
		position: fixed;
		height: auto;
		width: 150px;
		top: 50%;
		left: 35px;
		transform: translateY(-50%);
		z-index: 2000;
	}

	.description header{
		font-family: Aktiv Grotesk Bold;
		font-size: 1.5em;
		color: black;
		padding: 10px;
		padding-bottom: 0;
		margin-bottom: 10px;
	}

	.description p{
		margin: 0;
		padding: 10px;
		padding-top: 0;
		font-family: Aktiv Grotesk Light;
		font-size: 12px;
		color: black;
		margin-bottom: 10px;
	}

	.opaque{
		background-color: white;
		opacity: .5;
		height: 100%;
		width: inherit;
		position: absolute;
		z-index: -1;
	}

.coming{
	font-family: Aktiv Grotesk Bold;
	font-size: 2em;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100px;
}